<!-- <h1 *ngFor="let item of listenStream; let i = index">
  <img [src]="item.thumbnail" alt="" />
  <button (click)="removeWishlisted(i)">Remove Item</button>
</h1> -->
<main>
  <section>
    <div class="items" *ngIf="listenStream">
      <div class="card1" *ngFor="let item of listenStream; let i = index">
        <img [src]="item.thumbnail" [alt]="item.title" />
        <h1>
          {{ item.title }}
        </h1>
        <button (click)="removeWishlisted(i)">Remove Item</button>
      </div>
    </div>
  </section>
</main>
