main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 5%;
  mat-tab-group {
    width: 35%;

    ::ng-deep .mdc-tab__text-label {
      color: black;
    }

    form {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }
}
.authBtn {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 25px;
  transition: ease-in-out 0.4s;
}
.authBtn:hover {
  background-color: aliceblue;
  transition: ease-in-out 0.4s;
}
