<nav class="navbar bg-body bg-dark-subtle">
  <div class="container-fluid">
    <form class="d-flex" role="search">
      <div class="searchWrap">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          #searchvalue
          (input)="onSearch($event)"
        />
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path
            fill="#616161"
            d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
          />
        </svg>
        <div *ngIf="isDropdownVisible" class="searchDropdown">
          <div *ngIf="searchResults && searchResults.length; else noResults">
            <div *ngFor="let searchProduct of searchResults" class="searchItem">
              <div class="text">
                <p>{{ searchProduct.title }}</p>
                @if (searchProduct.price.discountPercentage) {
                <s class="discount">
                  {{ searchProduct.price.beforeDiscount }}
                </s>
                <p>
                  {{ searchProduct.price.current }}
                  <span>{{ searchProduct.price.currency }}</span>
                </p>
                }@else {
                <p>
                  {{ searchProduct.price.current }}
                  <span>{{ searchProduct.price.currency }}</span>
                </p>
                }
              </div>

              <img
                [src]="searchProduct.thumbnail"
                [alt]="searchProduct.title"
              />
              <a
                routerLink="/product/id/{{ searchProduct._id }}"
                (click)="clearSearch()"
                >View product</a
              >
            </div>
          </div>
          <ng-template #noResults>
            <p>No Products Found</p>
          </ng-template>
        </div>
      </div>
    </form>
    <div class="sideA">
      @if (user$ | async) { @for (item of afterAuth; track item.title) {
      <a [routerLink]="item.path">
        {{ item.title }}
      </a>
      } <a (click)="logOut()">Log Out</a>}@else { @for (item of beforeAuth;
      track item.title) {
      <a [routerLink]="item.path">
        {{ item.title }}
      </a>
      } }
    </div>
  </div>
</nav>
<main>
  <router-outlet></router-outlet>
</main>
