main {
  width: 100%;
  height: 100%;

  section.productContainer {
    height: 85%;
    padding-top: 5.5%;
    display: flex;
    justify-content: flex-start;
    padding: 30px;

    .upperSide {
      display: flex;
      padding-left: 3%;
      .item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        justify-content: center;
        align-items: center;
        height: 300px;

        img {
          width: 200px;
          height: 350px;
          object-fit: contain;
        }

        .infoWrap {
          .descriptionStyle {
            width: 320px;
            font-size: 18px;
          }

          .topContainer {
            ul {
              width: 250px;
              height: 55px;
              li {
                border: 1px solid black;
                display: flex;
                justify-content: center;
                align-items: center;
                list-style: none;
                background-color: #bd9b07;
                cursor: pointer;
                transition: 0.3s ease-in-out;

                a {
                  text-decoration: none;
                  font-size: 26px;
                  text-transform: capitalize;
                  color: white;
                }
              }

              li:hover {
                background-color: #d8b415;
                transition: 0.3s ease-in-out;
              }
            }
          }

          .aboutPrice {
            display: flex;
            gap: 10px;
            font-size: 25px;

            .discount {
              background-color: red;
              border-radius: 3px;
              width: 50px;
              color: white;
            }

            .oldPrice {
              color: rgb(124, 124, 124);
              font-size: 20px;
            }
          }
        }

        .imgContainer {
          p.title {
            font-size: 1.7em;
          }

          .carousel {
            width: 500px;
            height: 500px;
            object-fit: contain;

            img {
              width: 500px;
              height: 500px;
              object-fit: contain;
              border-radius: 15px;
            }

            .imagePreview {
              width: 100%;
              display: grid;
              grid-template-columns: repeat(4, 0fr);
              justify-content: space-between;
              padding-top: 25px;

              img {
                width: 100px;
                height: 100px;
                object-fit: contain;
              }
              img:hover {
                border: 1px solid rgb(172, 171, 171);
              }
              .mainImg {
                border: 1px solid black;
              }
            }
          }
        }
      }
    }

    section.purchase {
      width: 500px;
      height: 500px;
      border: 1px solid black;
      display: grid;
      grid-template-columns: repeat(1, 0fr);

      .bottomContainer {
        margin: auto;
        width: 450px;
        height: 100%;

        a {
          text-decoration: none;
          font-size: 18px;
        }
      }
    }
  }

  .backArrow {
    a {
      cursor: pointer;
      svg {
        width: 50px;
        height: 50px;
      }
    }
  }
}

@media (max-width: 1024px) {
  main {
    width: 100%;
    section.productContainer {
      width: 100%;
      justify-content: center;

      .upperSide {
        .item {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 30px;
          justify-content: center;
          align-items: center;
          height: 300px;

          .imgContainer {
            display: flex;
            flex-direction: column-reverse;

            .carousel {
              .imagePreview {
                padding-top: 10%;
              }
            }
          }
        }

        .infoWrap {
          padding-top: 25%;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
        }
      }
    }
  }
}
