<main>
  <div class="backArrow">
    <a routerLink="">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path
          d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"
        />
      </svg>
    </a>
  </div>
  <section class="productContainer" *ngIf="display">
    <div class="upperSide">
      <div class="item">
        <div class="imgContainer">
          <p class="title">
            {{ display.title }}
          </p>
          <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              <div
                *ngFor="let image of display?.images; let i = index"
                [class.carousel-item]="true"
                [class.active]="i === index"
              >
                <img
                  [src]="image"
                  [alt]="display.title"
                  class="d-block w-100"
                />
              </div>
            </div>
            <div class="imagePreview">
              <img
                *ngFor="let image of display?.images; let i = index"
                [src]="image"
                (click)="imgSet(i)"
                [class.mainImg]="i === index"
                alt=""
              />
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExample"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExample"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="infoWrap">
          <p class="descriptionStyle">
            {{ display.description }}
          </p>
          <p>
            Brand:
            {{ display.brand }}
          </p>
          @if (display.stock === 0) {
          <!-- <p class="OutOfStock">Out Of Stock</p> -->
          }@else {
          <p>Stock: {{ display.stock }}</p>
          }
          <p>Rating: {{ display.rating }}</p>
          @if (display.price.discountPercentage) {
          <div class="aboutPrice">
            <p>{{ display.price.current }} {{ display.price.currency }}</p>
            <s class="oldPrice">
              {{ display.price.beforeDiscount }}
              {{ display.price.currency }}
            </s>
            <p class="discount">-{{ display.price.discountPercentage }}%</p>
          </div>
          }@else {
          <p>
            {{ display.price.current }}
          </p>
          }
          <div class="topContainer">
            @if (display.stock === 0) {
            <button
              [disabled]="true"
              class="addTocart"
              (click)="addToCart(display._id, this.quantity + 1)"
            >
              Out of stock
            </button>
            }@else {
            <button
              class="addTocart"
              (click)="addToCart(display._id, this.quantity + 1)"
            >
              Add to cart
            </button>
            }
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="test" *ngIf="display"></section>
</main>
