<main>
  @if (isLoading) {
  <div class="loading">
    <ngx-cube-loader class="customLoader" colorSet="cyan"></ngx-cube-loader>
    <h1>LOADING...</h1>
  </div>
  }@else {
  <section class="mainWrapper">
    @if (!display || !display.products.length) {
    <img
      src="https://nosups.co.za/modules/products/uploads/no-product.png"
      alt=""
    />
    }@else {
    <div *ngIf="display" class="productsContainer">
      <div class="items" *ngFor="let item of display.products">
        <img
          [src]="productThumbnails[item.productId]"
          alt=""
          *ngIf="productThumbnails[item.productId]"
        />
        <div class="infos">
          <div class="priceTitle">
            <p>{{ titleSetMap.get(item.productId) }}</p>
            <p>Price: {{ item.beforeDiscountPrice }}</p>
          </div>
          <div class="otherInfo">
            <p>Product quantity: {{ item.quantity }}</p>
            <a (click)="removeOneItem(item.productId)">Remove</a>
          </div>
        </div>
      </div>
    </div>
    <div class="purchaseSection">
      <div class="upperSide" *ngIf="display">
        <a href="">Pay</a>
        <h3>Total price : {{ display.total.price.current }}</h3>
        <h3>Total Items: {{ display.total.products }}</h3>
      </div>
    </div>
    }
  </section>
  }
</main>
