<main *ngIf="profileInfo">
  <section class="upperSection">
    <div class="title">
      <img [src]="profileInfo.avatar" alt="" />
      <h1>Hello {{ profileInfo.firstName }}</h1>
    </div>
  </section>

  <section class="userInfo">
    <div class="wrapper">
      <p>User ID: {{ profileInfo._id }}</p>
      <p>First name: {{ profileInfo.firstName }}</p>
      <p>Last name {{ profileInfo.lastName }}</p>
      <p>Email: {{ profileInfo.email }}</p>
      <p>Gender: {{ profileInfo.gender }}</p>
      <p>Phone: {{ profileInfo.phone }}</p>
    </div>
    <div class="wishCart">
      @if (items.length == null) {
      <p>Wishlisted items: 0</p>
      }@else {
      <p>Wishlisted items: {{ items.length }}</p>
      } @if (cartItems == null) {
      <p>On cart items 0</p>
      }@else {
      <p>On cart items {{ cartItems.total.quantity }}</p>
      }
    </div>
  </section>
</main>
