<main>
  <section class="upperSection">
    <div class="image"></div>
    <div class="title">
      <img src="https://zoommer.ge/icons/profile-icon.svg" alt="" />
      <h1>Hello USER</h1>
    </div>
  </section>

  <section class="userInfo">
    <div class="wrapper">
      <p>user _id</p>
      <p>name</p>
      <p>last name</p>
      <p>email</p>
      <p>address</p>
      <p>role</p>
      <p>zipcode</p>
      <p>gender</p>
      <p>phone</p>
      <p>is user verifyed</p>
    </div>
    <div class="wishCart">
      <p>Wishlisted items 0</p>
      <p>On cart items 0</p>
    </div>
  </section>
</main>
