<main>
  @if (isLoading) {
  <div class="loading">
    <ngx-cube-loader class="customLoader" colorSet="cyan"></ngx-cube-loader>
    <h1>LOADING...</h1>
  </div>
  }@else {
  <section class="discountedProducts">
    <div class="discountedSection">
      <div class="title">
        <h1>Discounted Products</h1>
      </div>
      <div class="sectionCards">
        <div
          class="discountedCard"
          *ngFor="let product of discounted?.products"
        >
          <img [src]="product.thumbnail" [alt]="product.title" />
          <h4 class="productPrice">
            <s>{{ product.price.beforeDiscount }}</s>
            <span class="discounted">{{ product.price.current }}</span>
            {{ product.price.currency }}
          </h4>
          <p>{{ product.title }}</p>
          @if (product.stock === 0) {
          <button
            [disabled]="true"
            class="cart"
            (click)="
              passitemTrack
                ? updateCart(product._id, 1)
                : passItem(product._id, 1)
            "
          >
            Add to cart
          </button>
          <button class="cart" (click)="addWishlist(product)">
            Add to wishlist
          </button>
          }@else {
          <button
            [disabled]="false"
            class="cart"
            (click)="
              passitemTrack
                ? updateCart(product._id, 1)
                : passItem(product._id, 1)
            "
          >
            Add to cart
          </button>
          <button class="cart" (click)="addWishlist(product)">
            Add to wishlist
          </button>
          }
          <a routerLink="/product/id/{{ product._id }}">View Product</a>
        </div>
      </div>
    </div>
  </section>

  <section class="shopProducts">
    <div class="upperContainer">
      <div class="wrapper">
        <div class="categories">
          <h1 class="categoryHeader">categories</h1>
          <a (click)="loadProducts(1, this.config.pageSize)">Reset</a>
          <a (click)="getCategory(2, this.config.pageSize, 1)">Phones</a>
          <a (click)="getCategory(1, this.config.pageSize, 1)">Laptops</a>
        </div>
      </div>
    </div>
    <div class="mainProducts">
      <div
        class="productCard"
        *ngFor="let product of display?.products; let i = index"
      >
        <img [src]="product.thumbnail" [alt]="product.title" />
        <h4 class="productPrice">
          @if(product.price.discountPercentage){
          <s>{{ product.price.beforeDiscount }}</s
          ><span class="discounted">{{ product.price.current }}</span>
          {{ product.price.currency }}
          }@else {
          {{ product.price.current }}{{ product.price.currency }}
          }
        </h4>
        <p>
          {{ product.title }}
        </p>
        @if (product.stock === 0) {
        <button
          [disabled]="true"
          class="cart"
          (click)="
            passitemTrack
              ? updateCart(product._id, 1)
              : passItem(product._id, 1)
          "
        >
          Add to cart
        </button>
        <button class="cart" (click)="addWishlist(product)">
          Add to wishlist
        </button>
        }@else {
        <button
          [disabled]="false"
          class="cart"
          (click)="
            passitemTrack
              ? updateCart(product._id, 1)
              : passItem(product._id, 1)
          "
        >
          Add to cart
        </button>
        <button class="cart" (click)="addWishlist(product)">
          Add to wishlist
        </button>
        }
        <a routerLink="/product/id/{{ product._id }}" class="viewProduct"
          >View Product</a
        >
      </div>
    </div>
  </section>
  <nav aria-label="page" class="paginator">
    <ul class="pagination pagination-lg">
      <li
        class="page-item active"
        *ngFor="let page of [].constructor(totalPages); let i = index"
        [class.active]="this.config.pageIndex === i + 1"
        [class.disabled]="this.config.totalItems === this.config.pageSize"
      >
        <a class="page-link" href="#" (click)="pageChange(i + 1, $event)">{{
          i + 1
        }}</a>
      </li>
    </ul>
  </nav>
  }
</main>
