<main>
  <div *ngIf="caruselProducts$ | async as display">
    <div class="upperContainer">
      <div class="wrapper">
        <div class="categories">
          <a href="">Phones</a>
          <a href="">Laptops</a>
        </div>
      </div>
    </div>
  </div>
  <section class="discountedProducts">
    <div
      class="discountedSection"
      *ngIf="caruselProducts$ | async as discountedItems"
    >
      <div class="title">
        <h1>Discounted Products</h1>
      </div>
      <div class="sectionCards">
        <div
          class="discountedCard"
          *ngFor="let product of discountedItems.products"
        >
          <img [src]="product.thumbnail" [alt]="product.title" />
          <h4 class="productPrice">
            <s>{{ product.price.beforeDiscount }}</s>
            <span class="discounted">{{ product.price.current }}</span>
            {{ product.price.currency }}
          </h4>
          <p>{{ product.title }}</p>
          <button class="cart">Add to cart</button>
        </div>
      </div>
    </div>
  </section>

  <section class="shopProducts" *ngIf="displayProducts$ | async as mainProduct">
    <div class="mainProducts">
      <div class="productCard" *ngFor="let product of mainProduct.products">
        <img [src]="product.thumbnail" [alt]="product.title" />
        <h4 class="productPrice">
          @if(product.price.discountPercentage){
          <s>{{ product.price.beforeDiscount }}</s
          ><span class="discounted">{{ product.price.current }}</span>
          {{ product.price.currency }}
          }@else {
          {{ product.price.current }}{{ product.price.currency }}
          }
        </h4>
        <p>
          {{ product.title }}
        </p>
        <button class="cart">Add to cart</button>
      </div>
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="config.pageIndex === 1">
          <a
            class="page-link"
            (click)="onPageChange(config.pageIndex - 1, $event)"
            >Previous</a
          >
        </li>
        <li
          class="page-item"
          *ngFor="let page of [].constructor(totalPages); let i = index"
          [class.active]="config.pageIndex === i + 1"
        >
          <a class="page-link" href="#" (click)="onPageChange(i + 1, $event)">
            {{ i + 1 }}
          </a>
        </li>
        <li
          class="page-item"
          [class.disabled]="config.pageIndex === totalPages"
        >
          <a
            class="page-link"
            (click)="onPageChange(config.pageIndex + 1, $event)"
            >Next</a
          >
        </li>
      </ul>
    </nav>
  </section>
</main>
